<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Esta sección detalla los precios de los diferentes planes de servicio que ofrecemos. Cada plan está diseñado para adaptarse a las necesidades de nuestros usuarios, desde aquellos que buscan una experiencia básica hasta los que requieren características avanzadas.
        Los precios son competitivos y reflejan el valor que proporcionamos a través de nuestra plataforma
        y el acceso a la API de PokéAPI. Para más información sobre cada plan, por favor visita nuestra sección de precios en el sitio web.
        Si tienes alguna pregunta sobre los planes o necesitas ayuda para elegir el adecuado, no dudes en contactarnos.
    </p>
</section>
