<nav class="text-white top-0 absolute z-50 w-full flex justify-around items-center gap-x-2 px-2 py-3 bg-slate-800 shadow-md">
    <a class="px-3 py-2 rounded-b-lg transition-colors hover:bg-slate-700 font-bold uppercase" routerLinkActive="bg-yellow-400 text-slate-900" routerLink="/pokemons">Pokemons</a>
    <a class="px-3 py-2 rounded-b-lg transition-colors hover:bg-slate-700 font-bold uppercase" routerLinkActive="bg-yellow-400 text-slate-900" [routerLink]="['/about']">About</a>
    <a class="px-3 py-2 rounded-b-lg transition-colors hover:bg-slate-700 font-bold uppercase" routerLinkActive="bg-yellow-400 text-slate-900" [routerLink]="['/pricing']">Pricing</a>
    <a class="px-3 py-2 rounded-b-lg transition-colors hover:bg-slate-700 font-bold uppercase" routerLinkActive="bg-yellow-400 text-slate-900" [routerLink]="['/contact']">Contact</a>
</nav>
