<h1 class="text-3xl">Sobre la app</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Esta aplicación fue creada como un proyecto de práctica para aprender Angular y SSR (Server-Side Rendering) con Angular Universal.
        Utiliza la API de PokéAPI para mostrar información sobre Pokémon, incluyendo sus nombres, tipos y habilidades.
        El objetivo principal fue entender cómo funciona el SSR en Angular y cómo se puede implementar para mejorar el rendimiento y el SEO de las aplicaciones web.
    </p>
</section>
